.App {
  text-align: center;
  font-family: "Noto Sans Mono CJK TC";
}

.app-title {
  font-size: 2.3em;
  margin-top: 10px;
}

.title-date {
  font-size: 0.7em;
  margin-left: 1em;
}

.area-data-sets {
  display: flex;
  flex-wrap: wrap;
}

.data-set {
  width: 108px;
  height: 150px;
  margin: 3px;
  text-align: center;
  line-height: 32px;
  background: #fff;
  border: 2px solid black;
  border-radius: 15px;
}

.country-name {
  background-color: black;
  color: white;
  font-size: 1.4em;
  font-weight: bold;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  padding-top: 8px;
  text-align: left;
  float: left;
  height: 142px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.set-title {
  font-size: 0.8em;
  font-weight: bold;
  line-height: 6px;
  margin-top: 0.8em;
  color: grey;
}

.numerical-data {
  color: grey;
  font-size: 1.5em;
  font-weight: bold;
}

.confirmed-count {
  color: black;
}

.dead-count {
  color: black;
}

.current-dead-rate {
  font-size: 1.5em;
  color: black;
}

.chart-title {
  display: inline-block;
  float: left;
  font-size: 2em;
  font-weight: bold;
  text-align: left;
  margin-left: 1em;
  margin-bottom: 0;
}

.data-table {
  margin-right: 1.5em;
  margin-bottom: 0;
  border-collapse: collapse;
}
.small-table {
  display: inline-block;
  float: right;
  margin-right: 1.5em;
  margin-bottom: 0;
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th,
td {
  padding: 0 5px 0 5px;
}

td {
  font-size: 1.3em;
}
th {
  background-color: #282c34;
  border: 1px solid #282c34;
  border-radius: 12px;
  color: white;
}

.pie-chart {
}

p.footnote {
  font-size: 0.9em;
  text-align: left;
  color: grey;
  margin: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
